:root {

    --g3-black: #1e1e1e;
    --g3-blue: #4fd5ff;
    --g3-darkgrey: #2d2d2d;
    --g3-lightgrey: #c8c8c8;
    --g3-offwhite: #ebebeb;
    --g3-red: #f63946;
    --g3-truewhite: #fff;

    --grid-margin: 100px;
    --grid-gap: 20px;

}


/*//////////////////////////////////////////////////////////////////////
grid */

.grid {
    display: grid;
    grid-template-columns:
    [full-width-start]
        var(--grid-margin)
    [left-start left-text-start full-margin-start footer-1-start]
        1fr
        var(--grid-gap)
        1fr
    [footer-1-end]
        var(--grid-gap)
        1fr
        var(--grid-gap)
        1fr
    [left-text-end]
        var(--grid-gap)
        1fr
    [left-end]
        var(--grid-gap)
        1fr
        var(--grid-gap)
        1fr
        var(--grid-gap)
    [right-start right-text-start nav-1-start footer-2-start]
        1fr
    [nav-1-end]
        var(--grid-gap)
    [nav-2-start]
        1fr
    [nav-2-end footer-2-end]
        var(--grid-gap)
    [nav-3-start footer-3-start]
        1fr
    [nav-3-end]
        var(--grid-gap)
    [nav-lang-start]
        1fr
    [right-text-end footer-3-end]
        var(--grid-gap)
    [footer-4-start]
        1fr
    [right-end full-margin-end nav-lang-end footer-4-end]
        var(--grid-margin)
    [full-width-end]
}


.grid > * {
    grid-column: full-width;
}
 
.full-width {
    grid-column: full-width;
}
 
.full-margin {
    grid-column: full-margin;
}
 
.left {
    grid-column: left;
}

.left-text {
    grid-column: left-text;
}
 
.right {
    grid-column: right;
}

.right-text {
    grid-column: right-text;
}

body {
    font-family: 'untitled-sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--g3-offwhite);
    background-color: var(--g3-black);
    margin: 0;    
}

/*//////////////////////////////////////////////////////////////////////
svg */