/*//////////////////////////////////////////////////////////////////////
root variables */

:root {

    --g3-black: #1e1e1e;
    --g3-dark-grey: #2d2d2d;
    --g3-light-grey: #c8c8c8;
    --g3-off-white: #ebebeb;
    --g3-true-white: #fff;

    --g3-green: #38f6d4;
    --g3-blue: #4fd5ff;
    --g3-purple: #eb53f8;
    --g3-pink: #ff3d8f;
    --g3-red: #f63946;
    --g3-orange: #ff5934;
    --g3-dark-yellow: #ff9900;
    --g3-yellow: #ebc500;

    --fw-normal: 400;
    --fw-medium: 500;

}

@media screen and (max-width: 375px) {

    :root {
    --grid-gap: 20px;
    --grid-margin: 24px;

    --fs-16: 14px;              /* site map nav */
    --fs-17: 15px;              /* labels text */
    --fs-18: 15px;              /* thumbnail caption / slide caption and counter / buttons / employee data / footer text / form text */
    --fs-20: 16px;              /* nav thumbnail caption / main text block / scroll-nav text / employee contact / footer header */
    --fs-24: 18px;              /* nav text / text block sub-header / thumbnail header / employee header / large slide counter / contact info */
    --fs-30: 18px;              /* case studies thumb header */
    --fs-36: 30px;              /* case studies list header */
    --fs-40: 40px;              /* case studies arrow-nav */
    --fs-48: 48px;              /* text block main header / clients header */
    --fs-72: 72px;              /* section header */
    --fs-128: 48px;             /* main header */
    }


}

@media screen and (min-width: 375px) and (max-width: 1024px) {

    :root {
    --grid-gap: 20px;
    --grid-margin: 50px;

    --fs-16: clamp(14px, 12.8444px + 0.3082vw, 16px);              /* site map nav */
    --fs-17: 15px;                                                 /* labels text */
    --fs-18: clamp(15px, 14.4222px + 0.1541vw, 16px);              /* thumbnail caption / slide caption and counter / buttons / employee data / footer text / form text */
    --fs-20: clamp(16px, 15.4222px + 0.1541vw, 17px);              /* nav thumbnail caption / main text block / scroll-nav text / employee contact / footer header */
    --fs-24: clamp(18px, 16.8444px + 0.3082vw, 20px);              /* nav text / text block sub-header / thumbnail header / employee header / large slide counter / contact info */
    --fs-30: clamp(18px, 16.8444px + 0.3082vw, 20px);              /* case studies thumb header */
    --fs-36: clamp(30px, 28.8444px + 0.3082vw, 32px);              /* case studies list header */
    --fs-40: 28px;              /* case studies arrow-nav */
    --fs-48: clamp(32px, 27.3775px + 1.2327vw, 40px);              /* text block main header / clients header */
    --fs-72: clamp(36px, 29.0663px + 1.849vw, 48px);               /* section header */
    --fs-128: clamp(48px, 29.51px + 4.9307vw, 80px);               /* main header */
    }

}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    
    :root {
    --grid-gap: 20px;
    --grid-margin: 50px;

    --fs-16: 16px;                                                 /* site map nav */
    --fs-17: clamp(15px, 12.7143px + 0.2232vw, 17px);              /* labels text */
    --fs-18: clamp(16px, 13.7143px + 0.2232vw, 18px);              /* thumbnail caption / slide caption and counter / buttons / employee data / footer text / form text */
    --fs-20: clamp(17px, 13.5714px + 0.3348vw, 20px);              /* nav thumbnail caption / main text block / scroll-nav text / employee contact / footer header */
    --fs-24: clamp(20px, 28.5714px + -0.4464vw, 24px);             /* nav text / text block sub-header / thumbnail header / employee header / large slide counter / contact info */
    --fs-30: clamp(20px, 8.5714px + 1.1161vw, 30px);               /* case studies thumb header */
    --fs-36: clamp(32px, 27.4286px + 0.4464vw, 36px);              /* case studies list header */
    --fs-40: clamp(28px, 14.2857px + 1.3393vw, 40px);              /* case studies arrow-nav */
    --fs-48: clamp(40px, 30.8571px + 0.8929vw, 48px);              /* text block main header / clients header */
    --fs-72: clamp(48px, 20.5714px + 2.6786vw, 72px);              /* section header */
    --fs-128: clamp(80px, 25.1429px + 5.3571vw, 128px);            /* main header */
    }

}

@media screen and (min-width: 1920px) {
    
    :root {
    --grid-gap: 20px;
    --grid-margin: 50px;

    --fs-16: clamp(16px, 10px + 0.3125vw, 18px);                  /* site map nav */
    --fs-17: clamp(17px, 10.625px + 0.332vw, 19.125px);           /* labels text */
    --fs-18: clamp(18px, 11.25px + 0.3516vw, 20.25px);            /* thumbnail caption / slide caption and counter / buttons / employee data / footer text / form text */
    --fs-20: clamp(20px, 8px + 0.625vw, 24px);                    /* nav thumbnail caption / main text block / scroll-nav text / employee contact / footer header */
    --fs-24: clamp(24px, 9.6px + 0.75vw, 28.8px);                 /* nav text / text block sub-header / thumbnail header / employee header / large slide counter / contact info */
    --fs-30: clamp(30px, 7.5px + 1.1719vw, 37.5px);               /* case studies thumb header */
    --fs-36: clamp(36px, 9px + 1.4063vw, 45px);                   /* case studies list header */
    --fs-40: clamp(40px, 10px + 1.5625vw, 50px);                  /* case studies arrow-nav */
    --fs-48: clamp(48px, 12px + 1.875vw, 60px);                   /* text block main header / clients header */
    --fs-72: clamp(72px, 18px + 2.8125vw, 90px);                  /* section header */
    --fs-128: clamp(128px, 32px + 5vw, 160px);                    /* main header */
    }

}


/*//////////////////////////////////////////////////////////////////////
color classes */

.true-white {
    color: var(--g3-true-white);
}

.off-white {
    color: var(--g3-off-white);
}

.light-grey {
    color: var(--g3-light-grey);
}

.black {
    color: var(--g3-black);
}


/*//////////////////////////////////////////////////////////////////////
text styles */

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0px;
    padding: 0px;
    font-weight: var(--fw-normal);
}

/* Main Header */
h1 {
    color: var(--g3-true-white);
    font-size: var(--fs-128);
    line-height: 1;
    letter-spacing: -0.08em;
    font-variant-numeric: slashed-zero;
}

/* Expert Header */
h2 {
    color: var(--g3-off-white);
    font-size: var(--fs-72);
    line-height: 1;
    letter-spacing: -0.08em;
    font-variant-numeric: slashed-zero;
}

/* Block Header */
h3 { 
    color: var(--g3-off-white);
    font-size: var(--fs-48);
    line-height: 1.167;
    letter-spacing: -0.06em;
}

/* Case Study Arrow-Nav */
h4 {
    color: var(--g3-true-white);
    font-size: var(--fs-40);
    line-height: 1.2;
    letter-spacing: -0.03em;
    font-variant-numeric: lining-nums tabular-nums;
}

/* Case Study List Header */
h5 {
    color: var(--g3-light-grey);
    font-size: var(--fs-36);
    line-height: 0.889;
    letter-spacing: -0.03em;
    font-variant-numeric: lining-nums tabular-nums;
}

/* Case Study Thumbnail Title */
h6 {
    color: var(--g3-true-white);
    font-size: var(--fs-30);
    line-height: 1.067;
    letter-spacing: -0.03em;
    font-variant-numeric: lining-nums tabular-nums;
}

/* Text Nav */
.text-24 {
    color: var(--g3-true-white);
    font-size: var(--fs-24);
    line-height: 1.25;
    letter-spacing: -0.03em;
}

/* Nav Thumbnail */
.text-20-nav {
    color: var(--g3-true-white);
    font-size: var(--fs-20);
    line-height: 1.2;
    letter-spacing: -0.05em;
}

/* Paragraph */
.text-20 {
    color: var(--g3-off-white);
    font-size: var(--fs-20);
    line-height: 1.2;
    letter-spacing: -0.04em;
}

/* Button / img caption / counter */
.text-18 {
    color: var(--g3-off-white);
    font-size: var(--fs-18);
    line-height: 1.33;
    letter-spacing: -0.03em;
}

/* Img caption counter */
.text-18-counter {
    color: var(--g3-light-grey);
    font-size: var(--fs-18);
    line-height: 1.33;
    letter-spacing: -0.03em;
    font-variant-numeric: lining-nums tabular-nums;
}

/* Label */
.text-17 {
    color: var(--g3-black);
    font-size: var(--fs-17);
    line-height: 1.176;
    letter-spacing: -0.02em;
}

/* Site map nav  */
.text-16 {
    color: var(--g3-true-white);
    font-size: var(--fs-16);
    line-height: 1;
    letter-spacing: -0.01em;
}


/*//////////////////////////////////////////////////////////////////////
grid */

.grid {
    display: grid;
    column-gap: var(--grid-gap);
    margin-inline: calc(var(--grid-margin) * 2);
    grid-template-columns: repeat(12, 1fr);
}

.grid > * {
    grid-column: span 12;
}
 
/* .full-width {
    grid-column: full-width;
}
 
.full-margin {
    grid-column: full-margin;
}
 
.left {
    grid-column: left;
}

.left-text {
    grid-column: left-text;
}
 
.right {
    grid-column: right;
}

.right-text {
    grid-column: right-text;
} */

body {
    font-family: 'untitled-sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--g3-off-white);
    background-color: var(--g3-black);
    margin: 0;
}

/*//////////////////////////////////////////////////////////////////////
svg */