{% extends 'admin/base.html' %}

{% block extrastyle %}{{ block.super }}
<style>
html[data-theme="light"], :root {
    /* forced dark mode with custom colors */
    --primary-fg: #f7f7f7;

    --body-fg: #eeeeee;
    --body-bg: #121212;
    --body-quiet-color: #d0d0d0;
    --body-medium-color: #e0e0e0;
    --body-loud-color: #ffffff;

    --breadcrumbs-link-fg: #e0e0e0;
    --breadcrumbs-bg: var(--primary);

    --link-fg: #81d4fa;
    --link-hover-color: #4ac1f7;
    --link-selected-fg: #6f94c6;

    --hairline-color: #272727;
    --border-color: #353535;

    --error-fg: #e35f5f;
    --message-success-bg: #006b1b;
    --message-warning-bg: #583305;
    --message-error-bg: #570808;

    --darkened-bg: #212121;
    --darker-bg: #171717;       /* new variable */
    --selected-bg: #1b1b1b;
    --selected-row: #3b4859; /* custom */

    --button-fg: #fff;
    --button-bg: var(--secondary);
    --button-hover-bg: #2d4767;
    --default-button-bg: #2d4767;
    --default-button-hover-bg: var(--secondary);
    --close-button-bg: #333333;
    --close-button-hover-bg: #666666;

    --primary: #222f3e;     /* custom */
    --secondary: #222f3e;   /* custom */
}

/* Page Header */
h2 {
    font-size: 3rem;
}

/* Nested Inline Header */
.djn-inline-form .djn-inline-form h3,
.inline-related h3 {
    background: var(--darker-bg);
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Inline Header */
.djn-inline-form h3 {
    background: var(--secondary);
    padding-top: 0.3rem;
    padding-bottom: 0.7rem;
    font-size: 2rem;
    font-weight: 500;
}

</style>
{% endblock %}