<!DOCTYPE html>

{% load i18n %}
{% get_current_language as current_language %}
{% get_available_languages as languages %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

	<title>G3{% if meta_title %} | {{ meta_title }}{% endif %}</title>	
	<meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{% trans 'Default Meta Description.' %}{% endif %}">

	{% for lang_code, lang_name in languages %}
		<link rel="alternate" href="https://g3.net.pl/{{ lang_code }}{{ request.path_info|slice:'3:' }}" hreflang="{{ lang_code }}">
	{% endfor %}
	<link rel="alternate" href="https://g3.net.pl/en{{ request.path_info|slice:'3:' }}" hreflang="x-default">
	<link rel="canonical" href="https://g3.net.pl{{ request.path_info }}">

	{% load static %}

	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->

	<!-- <link rel="icon" href="{% static 'fav/favicon-light.ico' %}" id="fav"> -->
	
	<!-- Favicon light / dark mode: inline in order to handle django static tag -->
	<!-- <script defer>
		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        	document.getElementById('fav').href = "{% static 'fav/favicon-dark.ico' %}";
    	}
	</script> -->
	
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

	<script src="{% static 'js/base.js' %}"></script>

</head>
<body>

    <nav class="grid">

        <div id="nav-background"></div>

        {% include 'util-logo.html' %}
        {% include 'util-nav-desktop.html' %}
        {% include 'util-nav-lang-desktop.html' %}
        {% include 'util-nav-hamb.html' %}
        {% include 'util-nav-mobile.html' %}
            
    </nav>

	{% include 'util-cover-video.html' %}
	{% include 'util-header.html' %}

	<main>

		<!-- {% include 'util-map.html' %} -->

		{% include 'block-left.html' %}
		{% include 'block-right.html' %}
		{% include 'block-full-width.html' %}

        <!-- {% include 'text-styles.html' %}		 -->		

		{% block content %}
		{% endblock %}

	</main>

	<footer></footer>

</body>
</html>