<!DOCTYPE html>

{% load i18n %}
{% get_current_language as current_language %}
{% get_available_languages as languages %}
{% get_language_info_list for languages as language_list %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

	<title>G3{% if meta_title %} | {{ meta_title }}{% endif %}</title>	
	<meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{% trans 'Default Meta Description.' %}{% endif %}">

	{% for lang_code, lang_name in languages %}
		<link rel="alternate" href="https://g3.net.pl/{{ lang_code }}{{ request.path_info|slice:'3:' }}" hreflang="{{ lang_code }}">
	{% endfor %}
	<link rel="alternate" href="https://g3.net.pl/en{{ request.path_info|slice:'3:' }}" hreflang="x-default">
	<link rel="canonical" href="https://g3.net.pl{{ request.path_info }}">

	{% load static %}

	<!-- <link rel="icon" href="{% static 'fav/favicon.ico' %}" id="fav"> -->
	
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

	<script src="{% static 'js/base.js' %}?v=1.1"></script>

</head>
<body>

    <nav class="grid true-white">

        <div id="nav-background"></div>

        {% include 'util-logo.html' %}
        {% include 'util-nav-desktop.html' %}
        {% include 'util-nav-lang-desktop.html' %}
        {% include 'util-nav-hamb.html' %}
        {% include 'util-nav-mobile.html' %}
            
    </nav>

    {% block content %}
    {% endblock %}

	<footer class="grid text-18 true-white">
        {% include 'util-footer.html' %}
    </footer>

</body>
</html>