{% block block-founders %}
{% load i18n %}

	<div class="block block-team" id="founders">
            
        <h3>{{ founders.header }}</h3>        

		<div class="grid">

            {% for founder in founders.founders.all %}
                <div>
                    {% if founder.thumbnail %}
                        <img src="{{ founder.thumbnail.url }}" alt="{{ founder.name }}">
                    {% endif %}
                    <h5 class="text-20 true-white">{{ founder.name }}</h5>
                    <p class="text-18 light-grey text-block">{{ founder.role }}</p>
                </div>
            {% endfor %}

		</div>

	</div>	

{% endblock %}