{% block block-specialists %}
{% load i18n %}

	<div class="block block-team" id="specialists">
            
        <h3>{{ specialists.header }}</h3>        

		<div class="grid">

            {% for specialist in specialists.specialists.all %}
                <div>
                    {% if specialist.thumbnail %}
                        <img src="{{ specialist.thumbnail.url }}" alt="{{ specialist.name }}">
                    {% endif %}
                    <h5 class="text-20 true-white">{{ specialist.name }}</h5>
                    <p class="text-18 light-grey text-block">{{ specialist.role }}</p>
                </div>
            {% endfor %}

		</div>

	</div>	

{% endblock %}