{% block block-clients %}
{% load i18n %}

	<div class="grid block block-clients" id="clients">
            
        <h3>{{ clients.header }}</h3>        

		<div>

            {% for logo in clients.logos.all %}
                {% if logo.svg_file %}
                    <img src="{{ logo.svg_file.url }}" alt="Client Logo {{ forloop.counter }}">
                {% endif %}
            {% endfor %}

		</div>

        {% if clients.button_clients_text %}
            <a href="{{ clients.button_clients_url }}" class="button text-18" {% if clients.new_tab_clients %}target="_blank"{% endif %}>{{ clients.button_clients_text }} +</a>
        {% endif %}

	</div>	

{% endblock %}