	{% block block-left %}
	{% load i18n %}

	<div class="grid block-left">

		<div class="block-header">

            {% include 'util-label.html' %}
            <h3>Title of this box</h3>

		</div>

		<div class="block-text">

			<p class="text-20 text-block">Duis a urna ante. Proin vel leo et enim porta accumsan non vel leo. Morbi semper fringilla enim, quis rhoncus sapien egestas in. Maecenas commodo nisi vitae tempus finibus. Aliquam erat volutpat. 

				Pellentesque habitant morbi  tristique senectus et netus et malesuada fames ac turpis egestas. Ut consequat, lectus sit amet elementum aliquam, tortor nisi consequat justo, ut dapibus tortor augue in leo. Vestibulum sagittis mi in mauris pellentesque eleifend.
			</p>

			{% include 'util-button-container.html' %}

		</div>

		<div class="block-img">

			{% include 'util-carousel-slider.html' %}
			{% include 'util-carousel-footer.html' %}

		</div>

	</div>
	

	{% endblock %}