{% block block-contact-form %}
{% load i18n %}
{% load label_tags %}

	<div class="grid block block-left" id="contact-form">

		<div class="block-header">

            {% with contact_page|get_label as label %}
                {% include 'util-label.html' %}
            {% endwith %}

            {% if contact_page.form_header %}
                <h3>{{ contact_page.form_header }}</h3>
            {% endif %}

		</div>

        <div class="block-text">

            <div class="text-20 tinymce">{{ contact_page.form_text|safe }}</div>
            
            {% if contact_page.button_form_text %}
                <div class="button-container">
                        <a href="#header" class="button text-18">{{ contact_page.button_form_text }} +</a>
                </div>
            {% endif %}

        </div>

        <div class="block-img">

            <form id="form" class="text-18 true-white"
                data-url="{% url 'contact' %}"
                data-csrf="{{ csrf_token }}"
                method="post" novalidate>

                {% csrf_token %}

                {{ form.middle_name }} {# Honeypot field — don't style or wrap #}                
                
                <div>{{ form.name }}</div>
                <div>{{ form.surname }}</div>
                <div>{{ form.email }}</div>
                <div>{{ form.company }}</div>
                <div>{{ form.message }}</div>

                <!-- Show either error or success message -->
                
                <button id="form-button" type="submit" class="button text-18">{% trans 'Send Message' %}</button>

            </form>

        </div>

	</div>

{% endblock %}