{% block block-expert %}
{% load static %}
{% load i18n %}

	<div class="grid block block-expert">
            
        <h2 class="text-block">Have questions?
            Contact our expert
        </h2>

        <a href="#" class="button text-18">Contact us +</a>

		<div>
            <div>

                {% include 'util-label.html' %}

                <div>
                    <h5 class="text-24 true-white">Aleksander Turski</h5>
                    <p class="text-18 light-grey text-block">Managing Director
                        Client Relations</p>
                </div>

                <div class="text-20 true-white">
                    <a href="tel:+48 603 603 603">+48 603 603 603</a><br>
                    <a href="mailto:a.turski@g3.net.pl">a.turski@g3.net.pl</a>
                </div>

            </div>

            <img src="{% static 'img/test/team-a-turski.jpg' %}" alt="">

		</div>
	</div>
	

{% endblock %}