{% block block-expert %}
{% load i18n %}
{% load label_tags %}

	<div class="grid block block-expert">
            
        <h2 class="text-block">{{ expert.header }}</h2>

        {% if expert.button_text %}
            <a href="{{ expert.button_url }}" class="button text-18">{{ expert.button_text }} +</a>
        {% endif %}

		<div>
            <div>
                {% with expert|get_label as label %}
                    {% include 'util-label.html' %}
                {% endwith %}

                <div>
                    <h5 class="text-24 true-white">{{ expert.name }}</h5>
                    <p class="text-18 light-grey text-block">{{ expert.role }}</p>
                </div>

                <div class="text-20 true-white">
                    <a href="tel:{{ expert.phone_number }}">{{ expert.phone_number }}</a><br>
                    <a href="mailto:{{ expert.email }}">{{ expert.email }}</a>
                </div>

            </div>

            <img src="{{ expert.thumbnail.url }}" alt="{{ expert.name }}">

		</div>
	</div>
	

{% endblock %}