{% block block-content %}
{% load i18n %}
{% load label_tags %}
{% load url_utils %}

	<div class="grid block content-block block-{{ content_block.block_type }}" id="{{ content_block.block_id }}">

		<div class="block-header">

            {% with content_block|get_label as label %}
                {% include 'util-label.html' %}
            {% endwith %}

            <h3>{{ content_block.header }}</h3>

		</div>

        <div class="block-text">

            <div class="text-20 tinymce">{{ content_block.text|safe }}</div>

            {% if content_block.block_type != "full-width" %}
                {% if content_block.button_1_text or content_block.button_2_text %}

                    <div class="button-container">
                        {% if content_block.button_1_text %}
                            <a href="{{ content_block.button_1_url|i18n_url }}" class="button text-18" {% if content_block.new_tab_1 %}target="_blank"{% endif %}>{{ content_block.button_1_text }} +</a>
                        {% endif %}
                        {% if content_block.button_2_text %}
                            <a href="{{ content_block.button_2_url|i18n_url }}" class="button text-18" {% if content_block.new_tab_2 %}target="_blank"{% endif %}>{{ content_block.button_2_text }} +</a>
                        {% endif %}
                    </div>

                {% endif %}
            {% endif %}

        </div>

		{% if content_block.block_type == "left" or content_block.block_type == "right" %}
            <div class="block-img">
        {% endif %}

            {% if content_block.video %}

                <!-- Video display -->
                <div class="content-block-video">

                        <video autoplay playsinline muted loop controls disablepictureinpicture oncontextmenu="return false;">
                            {% if content_block.video.url|lower|slice:"-5:" == ".webm" %}
                                <source src="{{ content_block.video.url }}" type="video/webm">
                            {% elif content_block.video.url|lower|slice:"-4:" == ".mp4" %}
                                <source src="{{ content_block.video.url }}" type="video/mp4">
                            {% endif %}
                        </video>

                </div>

                <div class="carousel-footer light-grey">

                    {% if content_block.video_caption %}
                            <p class="text-18">{{ content_block.video_caption }}</p>
                    {% endif %}
                    
                </div>

            {% else %}

                {% if content_block.images and content_block.display_type == "wipe" %}
                    {% include 'util-wiper.html' with images=content_block.images.all %}
                {% endif %}

                {% if content_block.images and content_block.display_type != "wipe" %}
                    {% include 'util-carousel.html' with images=content_block.images.all %}
                {% endif %}

            {% endif %}

        {% if content_block.block_type == "left" or content_block.block_type == "right" %}
            </div>
        {% endif %}

	</div>

    {% if content_block.append_clients %}
        {% include 'block-clients.html' with clients=clients %}
    {% endif %}

    {% if content_block.append_timeline %}
        {% include 'block-timeline.html' with timeline=timeline %}
    {% endif %}

    {% if content_block.append_founders %}
        {% include 'block-founders.html' with founders=founders %}
    {% endif %}

    {% if content_block.append_team %}
        {% include 'block-specialists.html' with specialists=specialists %}
    {% endif %}

{% endblock %}