{% block block-section-pages-list %}
{% load i18n %}

    <div class="grid block block-section-pages-list">
        <div>
            <div class="section-pages-list-container">

                {% if page_data.is_section_1_parent %}

                    {% for page in section_1_children %}
                        <a href="{{ page.get_absolute_url }}">
                            <div>
                                <h6 class="text-20 true-white">{{ page.menu_title }}</h6>
                            </div>
                            {% if page.thumbnail %}
                                <img src="{{ page.thumbnail.url }}" alt="{{ page.menu_title }} thumbnail">
                            {% endif %}
                            <p class="text-18 light-grey">{{ page.thumbnail_caption }}</p>
                        </a>
                    {% endfor %}

                {% elif page_data.is_section_2_parent %}

                    {% for page in section_2_children %}
                        <a href="{{ page.get_absolute_url }}">
                            <div>
                                <h6 class="text-20 true-white">{{ page.menu_title }}</h6>
                            </div>
                            {% if page.thumbnail %}
                                <img src="{{ page.thumbnail.url }}" alt="{{ page.menu_title }} thumbnail">
                            {% endif %}
                            <p class="text-18 light-grey">{{ page.thumbnail_caption }}</p>
                        </a>
                    {% endfor %}

                {% endif %}

            </div>

            {% if page_data.button_1_text or page_data.button_2_text %}

                <div class="button-container">
                    {% if page_data.button_1_text %}<a href="{{ page_data.button_1_url }}" class="button text-18">{{ page_data.button_1_text }} +</a>{% endif %}
                    {% if page_data.button_2_text %}<a href="{{ page_data.button_2_url }}" class="button text-18">{{ page_data.button_2_text }} +</a>{% endif %}
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}