{% extends 'base.html' %}

	{% block content %}
	{% load static %}
	{% load i18n %}

    {% include 'util-cover.html' %}
	{% include 'util-header.html' %}

	<main>
        {% if page_data.is_case_studies_index %}

            <h2>Case Studies Index</h2>

            {% for case_study in case_studies %}
                <a href="{{ case_study.get_absolute_url }}">{{ case_study.menu_title }}</a>
            {% endfor %}

        {% else %}

            {% include 'block-left.html' %}
            {% include 'block-clients.html' %}
            {% include 'block-right.html' %}
            {% include 'block-full-width.html' %}
            
        {% endif %}

        {% include 'block-expert.html' %}

	</main>

	{% endblock %}