{% extends 'base.html' %}

	{% block content %}
	{% load static %}
	{% load i18n %}

    {% include 'util-cover.html' %}
	{% include 'util-header.html' %}

	<main>
        {% if page_data.is_case_studies_index %}

            <h2>Case Studies Index</h2>

        {% else %}

            {% include 'block-left.html' %}
            {% include 'block-clients.html' %}
            {% include 'block-right.html' %}
            {% include 'block-full-width.html' %}
            
        {% endif %}

        {% include 'block-expert.html' %}

	</main>

	{% endblock %}