{% extends 'base.html' %}

	{% block content %}
	{% load static %}
	{% load i18n %}

    {% include 'util-cover.html' %}
	{% include 'util-header.html' %}

	<main>
        {% if page_data.is_case_studies_index %}

            {% for case_study in case_studies %}
                <a href="{{ case_study.get_absolute_url }}">{{ case_study.menu_title }}</a>
            {% endfor %}

        {% else %}

            <!-- Section pages thumbnails list -->
            {% if page_data.has_section_pages_list %}
                {% include 'block-section-pages-list.html' %}
            {% endif %}

            <!-- Content Blocks -->
            {% for content_block in content_blocks %}
                {% include 'block-content.html' %}
            {% endfor %}
            
        {% endif %}

        <!-- Expert Block -->
        {% if expert %}
            {% include 'block-expert.html' %}
        {% endif %}

	</main>

	{% endblock %}