	{% block text-styles %}
	{% load static %}
	{% load i18n %}

	<div class="grid">
		<h1>Header 128px true white 0123</h1>
		<h2>Expert Header 72px off-white 0123</h2>
		<h3>Block Header 48px off-white 0123</h3>
		<h4>Case Study Arrow-Nav 40px true white 0123</h4>
		<h5>Case Study List Header 36px light grey 0123</h5>
		<h6>Case Study Thumbnail Title 30px true white 0123</h6>
		<p class="text-24">Text Nav 24px true white 0123</p>
		<p class="text-20-nav">Text Nav Thumbnail 20px true white 0123</p>
		<p class="text-20">Text Paragraph 20px off-white 0123</p>
		<p class="text-18">Text button / image caption 18px off-white 0123</p>
		<p class="text-18-counter">Image caption counter 18px light grey 0123</p>
		<p class="text-17">Text Label 17px black 0123</p>
		<p class="text-16">Site Map Nav 16px true white 0123</p>
	</div>
	

	{% endblock %}