{% block util-wiper %}
{% load i18n %}

    {% if images|length > 1 %}

        <!-- Image Wipe display -->
        <div class="content-block-wiper">

            <div class="image-wiper">
                <img src="{{ images.1.image.url }}">
                <div class="wiper-left">
                    <img src="{{ images.0.image.url }}"
                        data-image-caption="{{ images.0.caption }}"
                        alt="{{ images.0.caption }}">
                </div>
                <div class="divider">
                    
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" >
                        <path d="M18.0002 12.66L0.200195 21.34V18.14L15.0402 10.98L0.200195 3.82003V0.660034L18.0002 9.34003V12.66Z"/>
                    </svg>

                    <div class="divider-line"></div>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" >
                        <path d="M18.0002 12.66L0.200195 21.34V18.14L15.0402 10.98L0.200195 3.82003V0.660034L18.0002 9.34003V12.66Z"/>
                    </svg>

                </div>
            </div>

        </div>

        <div class="carousel-footer light-grey">

            {% if images.0.caption %}
                    <p class="text-18">{{ images.0.caption }}</p>
            {% endif %}
            
        </div>

    {% endif %}

{% endblock %}