{% block util-nav-mobile %}
{% load i18n %}

    <div id="nav-mobile" class="text-20" tabindex="-1">

        <ul>
            <li>

                <a href="#">Dienstleistungen</a>

                <ul>
                    <li><a href="#">A-Class surfacing</a></li>
                    <li><a href="#">Polygon modelling</a></li>
                    <li><a href="#">Concept design / CGI / Visualisation</a></li>
                    <li><a href="#">Expert support</a></li>
                    <li><a href="#">Project planning & coordination</a></li>
                </ul>

            </li>
            <li>

                <a href="#">Firma</a>

                <ul>
                    <li><a href="#">Case studies</a></li>
                    <li><a href="#">Our team</a></li>
                    <li><a href="#">Data security</a></li>
                    <li><a href="#">Universiy co-operation</a></li>
                </ul>

            </li>
            <li>

                <a href="#">Kontakt</a>

                <ul>
                    <li><a href="#">Linkedin ></a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>

            </li>
            <li>

                <p>Language:</p>

                <ul>
                    <li><p>English</p></li>
                    <li><a href="#">Polski</a></li>
                    <li><a href="#">Deutsch</a></li>
                </ul>

            </li>
        </ul>

    </div>

{% endblock %}