{% block util-header %}
{% load i18n %}

    <header class="true-white" id="header">

        {% include 'util-header-breadcrumbs.html' %}

        <div id="header-content" class="grid">
            
            {% if page_data.title %}
                <h1 class="text-block">{{ page_data.title }}</h1>
            {% endif %}

            {% if page_data.is_case_studies_index and case_studies %}

                <div class="header-caption text-24">

                    {% for case_study in case_studies %}
                        <div class="cs-slider-caption {% if forloop.first %}cs-current{% endif %}">
                            <p class="medium">{{ case_study.menu_title }}</p>
                            <div class="no-wrap"><a href="{{ case_study.get_absolute_url }}">{% trans 'Read more' %}</a> ></div>
                        </div>
                    {% endfor %}

                    <div class="tabular no-wrap cover-index-container">
                        <span class="cs-slider-arrow-left">< </span>
                        <!-- slide index -->
                        <span class="cs-counter-slash"> / </span>
                        <!-- slide number -->
                        <span class="cs-slider-arrow-right"> ></span>
                    </div>
                </div>
                
            {% endif %}

        </div>
            
    </header>

{% endblock %}