{% block util-nav-desktop %}
{% load i18n %}

    <ul id="nav-desktop" class="text-24">

        {% if section_1_parent %}
            <li class="dropdown" data-dropdown>

                <a href="{{ section_1_parent.get_absolute_url }}" data-dropdown-trigger>
                    {{ section_1_parent.menu_title }}
                </a>

                <ul class="dropdown-content">

                    {% for child in section_1_children %}
                        {% include 'util-nav-tile.html' with page=child %}
                    {% endfor %}

                </ul>

            </li>
        {% endif %}
        {% if section_2_parent %}
            <li class="dropdown" data-dropdown>

                <a href="{{ section_2_parent.get_absolute_url }}" data-dropdown-trigger>
                    {{ section_2_parent.menu_title }}
                </a>

                    <ul class="dropdown-content">

                        {% for child in section_2_children %}
                            {% include 'util-nav-tile.html' with page=child %}
                        {% endfor %}

                    </ul>

            </li>
        {% endif %}

        <li><a href="{% url 'contact' %}" data-dropdown-close-trigger>{{ contact_page.menu_title }}</a></li>

    </ul>

{% endblock %}