{% block util-nav %}
{% load static %}
{% load i18n %}

    <nav class="grid">

        {% include 'util-logo.html' %}

        <!-- <ul id="nav-desktop" class="text-24">

            <li class="dropdown" data-dropdown>

                <a href="#" data-dropdown-trigger>Page Section 1</a>

                <ul class="dropdown-content">
                    <li><a href="#">Subsection 1</a></li>
                    <li><a href="#">Subsection 2</a></li>
                    <li><a href="#">Subsection 3</a></li>
                </ul>

            </li>

        </ul> -->

        <div id="lang-nav" class="text-24">DE PL EN</div>
            
    </nav>

{% endblock %}