{% block util-footer %}
{% load i18n %}

    <div>

        {% include 'util-logo.html' %}
        {% if contact_page.address_footer %}<div class="tinymce text-18">{{ contact_page.address_footer|safe }}</div>{% endif %}

    </div>

    {% if section_1_parent %}
        <ul class="footer-dropdown" data-footer-dropdown>

            <li class="text-20">
                <a href="{{ section_1_parent.get_absolute_url }}">
                    {% if section_1_parent.footer_title %}{{ section_1_parent.footer_title }}{% else %}{{ section_1_parent.menu_title }}{% endif %}
                </a>
                <button data-footer-dropdown-button>
                    <svg viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1.5 L9 9.5 L18 1.5 L16.6 0.1 L9 7 L1.4 0.1 L0 1.5 Z"/>
                    </svg>
                </button>
            </li>

            <ul class="footer-dropdown-content">
                {% for child in section_1_children %}
                    <li><a href="{{ child.get_absolute_url }}">
                        {% if child.footer_title %}{{ child.footer_title }}{% else %}{{ child.menu_title }}{% endif %}
                    </a></li>
                {% endfor %}
            </ul>

        </ul>
    {% endif %}

    {% if section_2_parent %}
        <ul class="footer-dropdown" data-footer-dropdown>

            <li class="text-20">
                <a href="{{ section_2_parent.get_absolute_url }}">
                    {% if section_2_parent.footer_title %}{{ section_2_parent.footer_title }}{% else %}{{ section_2_parent.menu_title }}{% endif %}
                </a>
                <button data-footer-dropdown-button>
                    <svg viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1.5 L9 9.5 L18 1.5 L16.6 0.1 L9 7 L1.4 0.1 L0 1.5 Z"/>
                    </svg>
                </button>
            </li>

            <ul class="footer-dropdown-content">
                {% for child in section_2_children %}
                    <li><a href="{{ child.get_absolute_url }}">
                        {% if child.footer_title %}{{ child.footer_title }}{% else %}{{ child.menu_title }}{% endif %}
                    </a></li>
                {% endfor %}
            </ul>

        </ul>
    {% endif %}

    <ul>            
        <ul class="footer-dropdown" data-footer-dropdown>

            <li class="text-20">
                <a href="{% url 'contact' %}">
                    {% if contact_page.footer_title %}{{ contact_page.footer_title }}{% else %}{{ contact_page.menu_title }}{% endif %}
                </a>
                <button data-footer-dropdown-button>
                    <svg viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1.5 L9 9.5 L18 1.5 L16.6 0.1 L9 7 L1.4 0.1 L0 1.5 Z"/>
                    </svg>
                </button>
            </li>

            <ul class="footer-dropdown-content">

                {% for link in contact_page_links %}
                    <li><a href="{{ link.link_url }}" target="_blank">{{ link.link_text }} ></a></li>
                {% endfor %}

                {% if privacy_policy %}
                    <li><a href="{% url 'privacy_policy' %}">
                        {% if privacy_policy.footer_title %}{{ privacy_policy.footer_title }}{% else %}{{ privacy_policy.menu_title }}{% endif %}
                    </a></li>
                {% endif %}

            </ul>

        </ul>
        <ul class="footer-lang">

            <li>{% trans 'Language:' %}</li>

            <ul>
                
                {% for lang in language_list %}
                    {% if lang.code == LANGUAGE_CODE %}
                        <li><p>{{ lang.name_local|capfirst }}</p></li>
                    {% endif %}
                {% endfor %}

                {% for lang in language_list %}
                    {% if lang.code != LANGUAGE_CODE %}
                        <li><a href="/{{ lang.code }}{{ request.path_info|slice:'3:' }}">{{ lang.name_local|capfirst }}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
            
        </ul>
    </ul>	

{% endblock %}