{% block util-nav-mobile %}
{% load i18n %}


    <div id="nav-mobile" class="text-20" tabindex="-1">

        <ul>
            {% if section_1_parent %}
                <li>

                    <a href="{{ section_1_parent.get_absolute_url }}">{{ section_1_parent.menu_title }}</a>

                    <ul>
                        {% for child in section_1_children %}
                            <li><a href="{{ child.get_absolute_url }}">{{ child.menu_title }}</a></li>
                        {% endfor %}
                    </ul>

                </li>
            {% endif %}
            {% if section_2_parent %}
                <li>

                    <a href="{{ section_2_parent.get_absolute_url }}">{{ section_2_parent.menu_title }}</a>

                    <ul>
                        {% for child in section_2_children %}
                            <li><a href="{{ child.get_absolute_url }}">{{ child.menu_title }}</a></li>
                        {% endfor %}
                    </ul>

                </li>
            {% endif %}
                <li>

                    <a href="{% url 'contact' %}">{{ contact_page.menu_title }}</a>

                    <ul>

                        {% for link in contact_page_links %}
                            <li><a href="{{ link.link_url }}" target="_blank">{{ link.link_text }} ></a></li>
                        {% endfor %}

                        {% if privacy_policy %}
                            <li><a href="{% url 'privacy_policy' %}">{{ privacy_policy.menu_title }}</a></li>
                        {% endif %}
                    </ul>

                </li>
            <li>

                <p>Language:</p>

                <ul>
                    
                    {% for lang in language_list %}
                        {% if lang.code == LANGUAGE_CODE %}
                            <li><p>{{ lang.name_local|capfirst }}</p></li>
                        {% endif %}
                    {% endfor %}

                    {% for lang in language_list %}
                        {% if lang.code != LANGUAGE_CODE %}
                            <li><a href="/{{ lang.code }}{{ request.path_info|slice:'3:' }}">{{ lang.name_local|capfirst }}</a></li>
                        {% endif %}
                    {% endfor %}

                </ul>

            </li>
        </ul>

    </div>

{% endblock %}