{% block util-carousel-timeline %}
{% load i18n %}

    <div class="content-block-image carousel-slider">
                
        {% for image in images %}
            <img src="{{ image.image.url }}"
                data-image-year="{{ image.year|default:'' }}:"
                data-image-caption="{{ image.caption|default:'' }}"
                data-image-long-caption="{{ image.long_caption|default:'' }}"
                alt="{{ image.caption|default:'No image caption' }}">
        {% endfor %}
        
    </div>

    <div class="carousel-footer">
        <div>

            <div class="carousel-counter text-24 tabular off-white">
                <div class="slide-index-container">
                <!-- Slide indexes are dynamically added here -->
                </div>
                <p>/</p>
                <!-- Slide number are dynamically updated here -->
            </div>

            <div class="carousel-nav">
            
                <button class="carousel-nav carousel-arrow-left">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" >
                        <path d="M18.0002 12.66L0.200195 21.34V18.14L15.0402 10.98L0.200195 3.82003V0.660034L18.0002 9.34003V12.66Z"/>
                    </svg>
                </button>

                <button class="carousel-nav carousel-arrow-right">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" >
                        <path d="M18.0002 12.66L0.200195 21.34V18.14L15.0402 10.98L0.200195 3.82003V0.660034L18.0002 9.34003V12.66Z"/>
                    </svg>
                </button>

            </div>

        </div>
        <div class="timeline-captions">

            <div class="slide-year-container text-24 red">
                <!-- Slide caption is dynamically updated here -->
            </div>
            <div class="slide-caption-container text-24 true-white">
                <!-- Slide caption is dynamically updated here -->
            </div>
            <div class="slide-long-caption-container text-18 text-block off-white"></div>

        </div>

    </div>

{% endblock %}