{% block util-nav %}
{% load i18n %}

    <nav class="grid">

        <div id="nav-background"></div>

        {% include 'util-logo.html' %}

        <ul id="nav-desktop" class="text-24">

            <li class="dropdown" data-dropdown>

                <a href="#" class="underline" data-dropdown-trigger>Dienstleistungen</a>

                <ul class="dropdown-content">

                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}

                </ul>

            </li>

            <li class="dropdown" data-dropdown>

                <a href="#" class="underline" data-dropdown-trigger>Firma</a>

                <ul class="dropdown-content">

                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}
                    {% include 'util-nav-tile.html' %}

                </ul>

            </li>

            <li><a href="#" class="underline" data-dropdown-close-trigger>Kontakt</a></li>

        </ul>

        {% include 'util-nav-lang-desktop.html' %}

        <button id="hamb">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <rect id="rec1" y="11" width="48" height="3"/>
                <rect id="rec2"  y="22" width="48" height="3"/>
                <rect id="rec3"  y="22" width="48" height="3"/>
                <rect id="rec4" y="33" width="48" height="3"/>
            </svg>
        </button>

        <div id="nav-mobile" class="text-20">

            <ul>
                <li>

                    <a href="#">Dienstleistungen</a>

                    <ul>
                        <li><a href="#">A-Class surfacing</a></li>
                        <li><a href="#">Polygon modelling</a></li>
                        <li><a href="#">Concept design / CGI / Visualisation</a></li>
                        <li><a href="#">Expert support</a></li>
                        <li><a href="#">Project planning & coordination</a></li>
                    </ul>

                </li>
                <li>

                    <a href="#">Firma</a>

                    <ul>
                        <li><a href="#">Case studies</a></li>
                        <li><a href="#">Our team</a></li>
                        <li><a href="#">Data security</a></li>
                        <li><a href="#">Universiy co-operation</a></li>
                    </ul>

                </li>
                <li>

                    <a href="#">Kontakt</a>

                    <ul>
                        <li><a href="#">Linkedin ></a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>

                </li>
                <li>

                    <p>Language:</p>

                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Polski</a></li>
                        <li><a href="#">Deutsch</a></li>
                    </ul>

                </li>
            </ul>

        </div>
            
    </nav>

{% endblock %}