{% block util-lightbox-cs %}
{% load i18n %}

    <div class="lightbox">

        <button class="lightbox-close-button">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <rect class="close-button-rec-1" y="22" width="48" height="3"/>
                <rect class="close-button-rec-2" y="22" width="48" height="3"/>
            </svg>
        </button>

        {% if images|length > 1 %}

            <!-- Carousel Image display -->
            <div class="lightbox-image carousel-slider">
                
                {% for image in images %}
                    <img src="{{ image.image.url }}"
                        data-image-caption="{{ image.caption|default:'' }}"
                        alt="{{ image.caption|default:'No image caption' }}">
                {% endfor %}

            </div>

            <div class="carousel-footer">
                <div>

                    <div class="carousel-counter text-18 tabular light-grey">
                        <div class="slide-index-container">
                        <!-- Slide indexes are dynamically added here -->
                        </div>
                        <p>/</p>
                        {{ images|length }}
                    </div>

                    <div class="slide-caption-container text-18">
                    <!-- Slide caption is dynamically updated here -->
                    </div>

                </div>

                <div class="carousel-nav">
                    
                    <button class="carousel-arrow-left">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" >
                            <path d="M18.0002 12.66L0.200195 21.34V18.14L15.0402 10.98L0.200195 3.82003V0.660034L18.0002 9.34003V12.66Z"/>
                        </svg>
                    </button>

                    <button class="carousel-arrow-right">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 22" >
                            <path d="M18.0002 12.66L0.200195 21.34V18.14L15.0402 10.98L0.200195 3.82003V0.660034L18.0002 9.34003V12.66Z"/>
                        </svg>
                    </button>

                </div>
            </div>

        {% else %}

            <!-- Single Image display -->
            <div class="lightbox-image">

                {% for image in images %}
                    <img src="{{ image.image.url }}"
                        data-image-caption="{{ image.caption }}"
                        alt="{{ image.caption }}">
                {% endfor %}

            </div>

            <div class="carousel-footer">

                {% if images.0.caption %}
                        <p class="text-18">{{ images.0.caption }}</p>
                {% endif %}
                
            </div>

        {% endif %}

    </div>

{% endblock %}