{% block util-cover %}
{% load i18n %}

    {% if cover.cover_video %}

        <video class="cover" autoplay playsinline muted loop>
            {% if cover.cover_video.url|lower|slice:"-5:" == ".webm" %}
                <source src="{{ cover.cover_video.url }}" type="video/webm">
            {% elif cover.cover_video.url|lower|slice:"-4:" == ".mp4" %}
                <source src="{{ cover.cover_video.url }}" type="video/mp4">
            {% endif %}
        </video>

    {% elif cover.cover_desktop and cover.cover_laptop and cover.cover_tablet and cover.cover_mobile %}

        <img src="{{ cover.cover_laptop.url }}"
        srcset="{{ cover.cover_desktop.url }} 1920w,
                {{ cover.cover_laptop.url }} 1680w,
                {{ cover.cover_tablet.url }} 1280w,
                {{ cover.cover_mobile.url }} 768w"
        class="cover">

    {% endif %}

{% endblock %}