{% block util-nav-mobile %}
{% load i18n %}
{% get_language_info_list for languages as language_list %}

    <div id="nav-mobile" class="text-20" tabindex="-1">

        <ul>
            <li>

                <a href="#">Dienstleistungen</a>

                <ul>
                    <li><a href="#">A-Class surfacing</a></li>
                    <li><a href="#">Polygon modelling</a></li>
                    <li><a href="#">Concept design / CGI / Visualisation</a></li>
                    <li><a href="#">Expert support</a></li>
                    <li><a href="#">Project planning & coordination</a></li>
                </ul>

            </li>
            <li>

                <a href="#">Firma</a>

                <ul>
                    <li><a href="#">Case studies</a></li>
                    <li><a href="#">Our team</a></li>
                    <li><a href="#">Data security</a></li>
                    <li><a href="#">Universiy co-operation</a></li>
                </ul>

            </li>
            <li>

                <a href="#">Kontakt</a>

                <ul>
                    <li><a href="#">Linkedin ></a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>

            </li>
            <li>

                <p>Language:</p>

                <ul>

                    {% for lang in language_list %}
                        {% if lang.code == LANGUAGE_CODE %}
                            <li><p>{{ lang.name_local|capfirst }}</p></li>
                        {% endif %}
                    {% endfor %}

                    {% for lang in language_list %}
                        {% if lang.code != LANGUAGE_CODE %}
                            <li><a href="/{{ lang.code }}{{ request.path_info|slice:'3:' }}">{{ lang.name_local|capfirst }}</a></li>
                        {% endif %}
                    {% endfor %}

                </ul>

            </li>
        </ul>

    </div>

{% endblock %}